[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always
	mergeContent = true

[label "Code-Review"]
	value = -1 Don't submit as-is
	value =  0 No score
	value = +1 Looks good to me
	defaultValue = 0
	function = MaxWithBlock
	copyMinScore = true
	copyMaxScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
[label "Commit-Queue"]
	value =  0 Not ready
	value = +1 Dry run
	value = +2 Commit
	defaultValue = 0
	function = NoBlock
[label "Verified"]
	function = MaxWithBlock
	defaultValue = 0

[access "refs/for/refs/*"]
	push = group Logged-in Public Users
	create = group Logged-in Public Users
	forgeAuthor = group chromium-committers
	exclusiveGroupPermissions = addPatchSet
	addPatchSet = group chrome-commit-bot
	addPatchSet = group chromium-committers
[access "refs/heads/*"]
	label-Code-Review = -1..+1 group chromium-committers
	submit = group chrome-commit-bot
	label-Commit-Queue = +0..+2 group chromium-committers
	label-Commit-Queue = +0..+2 group cria/project-chromium-tryjob-access
	labelAs-Commit-Queue = +0..+2 group chrome-commit-bot
	submit = group chromium-committers
	push = group chrome-commit-bot
	push = group chromium-committers
	forgeAuthor = group chrome-commit-bot
[access "refs/heads/chromium/*"]
	create = group icu-owners
	create = group chromium-branch-creators
	push = group icu-owners
	push = group chromium-branch-creators
[access "refs/tags/*"]
	create = group chromium-branch-creators
	create = group icu-owners
	push = group chromium-branch-creators
	push = group icu-owners
