[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	create = group chromium-branch-creators
	create = group icu-owners
	create = group mdb/chrome-git-admins
	push = group chromium-committers
[access "refs/tags/*"]
	create = group chromium-branch-creators
	create = group icu-owners
	push = group chromium-branch-creators
	push = group icu-owners
