[access]
	inheritFrom = chromium
[submit]
	action = rebase always
	mergeContent = true

[label "Code-Review"]
	value = -1 Don't submit as-is
	value =  0 No score
	value = +1 Looks good to me
	defaultValue = 0
	function = MaxWithBlock
	copyMinScore = true
	copyMaxScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
[label "Commit-Queue"]
	function = MaxWithBlock
	defaultValue = 0
[label "Verified"]
	function = MaxWithBlock
	defaultValue = 0

[access "refs/for/refs/*"]
[access "refs/heads/chromium/*"]
	create = group chromium-branch-creators
	create = group icu-owners
	push = group chromium-branch-creators
	push = group icu-owners
[access "refs/tags/*"]
	create = group chromium-branch-creators
	create = group icu-owners
	push = group chromium-branch-creators
	push = group icu-owners
